html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: Helvetica LT CondensedLight;
}

.header {
	width : 100%;
	padding:15px 0 0 0;
	border-bottom:12px solid #f58233;
}
.header .logo_wrap img {
	position: relative;
	top: 15px;
}

div#page_wrap
{
	width:100%; 
	min-width:1280px;
	margin:0 auto;
}

a.focus
{
position:fixed;right:70px;top:600px;
text-decoration:none;
padding:5px; font-weight:bold;
background-color:#f58233;
border-radius:10px;
color:white;
}

.slider {
	width:100%;
	border-bottom:3px #f58233 solid;
}

.slider img{
	vertical-align:bottom;
}

.text{
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}

.text p {
	line-height : 30px;
}



.center {
	text-align:center;
}

.font_color {
	color:#f58233;
}

footer
{
	margin-top:55px;
	margin-left:19%;
	width:100%; 
	min-width:1480px; 
}

footer p
{
	font-family: Helvetica LT CondensedLight;
	font-size:20px;
	margin-left:35px;
	display:block;
	float:left;
	width:330px;
	background-color:#9b2424;
	color:white;
	border:2px solid;
	border-radius:25px;
	border-color:#9b2424;
	box-shadow: 10px 10px 5px #888888;
	padding:20px;
}

footer p a
{
	text-align:left;
	font-size:15px;
}

p.center  span
{
	display:block; font-size:35px; clear:left; 
	position:relative; top:40px;
	padding-bottom:30px;
}

a.download:link
{
	text-decoration:none;
	color:white;
	font-size:24px;
}

a.download:hover, a.download:active
{
	color:#ff9600;
	cursor:auto;
}